body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.rating-container{
    width:85%;
    height:5px;
    border:1px outset green;
    margin-left: 10px;
}
.rating-bar{
    background-color:green;
    height:100%;
    width:0;
}
.hoover-pop img{
     width:100%;
    height:60%;
}
.hoover-pop img:hover{
    width:99%;
    height:61%;
}
.home-page-list{
    width:230px;
    height:260px;
}
.list-page-list{
    margin-bottom:20px;
}




