@model DigitalLibrary.Web.Models.Comments.CommentViewModel
<div>
    <div class="modal-title">@Model.Content</div>
    <div> by: <em>@Model.PostedBy</em> Date: <em>@Model.DatePosted</em></div>
</div>

