@model DigitalLibrary.Web.Models.HomePageUserViewModel

@{
    ViewBag.Title = "HomePageUserViewModel";
}
<div>
    <a class="btn" href="@Url.Action("Details", "User", new { @Model.Id })">
        @Model.UserName
    </a>
</div>


